<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>NSCameraUsageDescription</key>
	<string>Aplikacjapotrzebuje uprawnien do kamery.</string>
	<key>NSBluetoothAlwaysUsageDescription</key>
	<string>Aplikacjapotrzebuje dostepu do bluetooth.</string>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>Aplikacja potrzebuje twojej lokalizacji podczaskorzystania z niej.</string>
	<key>CADisableMinimumFrameDurationOnPhone</key>
	<true/>
</dict>
</plist>
